@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/permanent-marker/400.css';

:root {
  --font-inter: 'Inter', sans-serif;
  --font-permanent-marker: 'Permanent Marker', cursive;
  --font-hkgrotesk: 'HKGrotesk', sans-serif;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HKGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HKGrotesk-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter antialiased bg-white text-slate-800 tracking-tight;
  }
}

@layer components {
  .h1 {
    @apply text-5xl font-bold;
  }

  .h2 {
    @apply text-4xl font-bold;
  }

  .h3 {
    @apply text-3xl font-bold;
  }

  .h4 {
    @apply text-2xl font-bold;
  }

  @screen md {
    .h1 {
      @apply text-6xl;
    }

    .h2 {
      @apply text-5xl;
    }
  }
}
